<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
<body>
  <%- include('./partials/nav.ejs') %>
  <h1>Posts:</h1>
  <ul>
    <% if (posts.length) { %>
      <% posts.forEach(({ id, title, createdAt, text, author }) => { %>
        <article>
          <h2>
            <a href="/posts/<%= id %>"><%= title %></a>
          </h2>
          <p><%= text %></p>
          <div class="info">
            <span><%= createdAt.toLocaleDateString() %></span>
            <span><%= author %></span>
          </div>
          <button class="btn-delete" data-id="<%= id %>">
            <i class="fas fa-trash-alt" data-id="<%= id %>"></i>
          </button>
        </article>
      <% }) %>
    <% } %>
  </ul>
  <script>
    document.addEventListener('click', (e) => {
      const id = e.target?.dataset?.id || null;
      if (id) {
        fetch(`/posts/${id}`, {
          method: 'DELETE',
        }).then(() => {
          window.location.reload();
        });
      }
    });
  </script>
</body>
</html>
