<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
<body>
  <%- include('./partials/nav.ejs') %>
  <h1>Posts:</h1>
  <ul>
    <% if (posts.length) { %>
      <% posts.forEach(({ id, title, createdAt, text, author }) => { %>
        <article>
          <h2>
            <a href="/posts/<%= id %>"><%= title %></a>
          </h2>
          <p><%= text %></p>
          <div class="info">
            <span><%= createdAt.toLocaleDateString() %></span>
            <span><%= author %></span>
          </div>
          <button class="btn-delete">
            <i class="fas fa-trash-alt"></i>
          </button>
        </article>
      <% }) %>
    <% } %>
  </ul>
</body>
</html>
